@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap&family=Rajdhani:wght@300;400;500;600;700&display=swap');


@font-face {
  font-family:"Bell-Mt";
  src: url('./Bell\ MT.ttf');
}


@font-face {
  font-family:"AllrounderAntiquaTest-Bold";
  src: url('./AllrounderAntiquaTest-Bold.otf');
}

@font-face {
  font-family:"AllrounderAntiquaTest-BoldItalic";
  src: url('./AllrounderAntiquaTest-BoldItalic.otf');
}

@font-face {
  font-family:"AllrounderAntiquaTest-Book";
  src: url('./AllrounderAntiquaTest-Book.otf');
}

@font-face {
  font-family:"AllrounderAntiquaTest-BookItalic";
  src: url('./AllrounderAntiquaTest-BookItalic.otf');
}

@font-face {
  font-family:"AllrounderAntiquaTest-Medium";
  src: url('./AllrounderAntiquaTest-Medium.otf');
}

@font-face {
  font-family:"AllrounderAntiquaTest-MediumItalic";
  src: url('./AllrounderAntiquaTest-MediumItalic.otf');
}

@font-face {
  font-family:"AllrounderAntiquaTest-Regular";
  src: url('./AllrounderAntiquaTest-RegularItalic.otf');
}

@font-face {
  font-family:"Matter-Bold";
  src: url('./Matter-Bold.ttf');
}

@font-face {
  font-family:"Matter-BoldItalic";
  src: url('./Matter-BoldItalic.ttf');
}

@font-face {
  font-family:"Matter-Heavy";
  src: url('./Matter-Heavy.ttf');
}

@font-face {
  font-family:"Matter-HeavyItalic";
  src: url('./Matter-HeavyItalic.ttf');
}

@font-face {
  font-family:"Matter-Light";
  src: url('./Matter-Light.ttf');
}

@font-face {
  font-family:"Matter-LightItalic";
  src: url('./Matter-LightItalic.ttf');
}

@font-face {
  font-family:"Matter-Medium";
  src: url('./Matter-Medium.ttf');
}

@font-face {
  font-family:"Matter-MediumItalic";
  src: url('./Matter-MediumItalic.ttf');
}


@font-face {
  font-family:"Matter-Regular";
  src: url('./Matter-Regular.ttf');
}

@font-face {
  font-family:"Matter-RegularItalic";
  src: url('./Matter-RegularItalic.ttf');
}

@font-face {
  font-family:"Matter-SemiBold";
  src: url('./Matter-SemiBold.ttf');
}


@font-face {
  font-family:"Matter-SemiBoldItalic";
  src: url('./Matter-SemiBoldItalic.ttf');
}



.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}


.Rubik-light {
  font-family: "Rubik", serif;
  font-weight: 300;
  font-style: normal;
}

.Rubik-regular {
  font-family: "Rubik", serif;
  font-weight: 400;
  font-style: normal;
}

.Rubik-bold {
  font-family: "Rubik", serif;
  font-weight: 700;
  font-style: normal;
}

.Rubik-black {
  font-family: "Rubik", serif;
  font-weight: 900;
  font-style: normal;
}

.Rubik-light-italic {
  font-family: "Rubik", serif;
  font-weight: 300;
  font-style: italic;
}

.Rubik-regular-italic {
  font-family: "Rubik", serif;
  font-weight: 400;
  font-style: italic;
}

.Rubik-bold-italic {
  font-family: "Rubik", serif;
  font-weight: 700;
  font-style: italic;
}

.Rubik-black-italic {
  font-family: "Rubik", serif;
  font-weight: 900;
  font-style: italic;
}



.EB-Garamond-light {
  font-family: "EB Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.EB-Garamond-regular {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.EB-Garamond-bold {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.EB-Garamond-black {
  font-family: "EB Garamond", serif;
  font-weight: 900;
  font-style: normal;
}

.EB-Garamond-light-italic {
  font-family: "EB Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.EB-Garamond-regular-italic {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.EB-Garamond-bold-italic {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  font-style: italic;
}

.EB-Garamond-black-italic {
  font-family: "EB Garamond", serif;
  font-weight: 900;
  font-style: italic;
}



.Montserrat-light {
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
}

.Montserrat-regular {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
}

.Montserrat-bold {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-style: normal;
}

.Montserrat-black {
  font-family: "Montserrat", serif;
  font-weight: 900;
  font-style: normal;
}

.Montserrat-light-italic {
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: italic;
}

.Montserrat-regular-italic {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: italic;
}

.Montserrat-bold-italic {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-style: italic;
}

.Montserrat-black-italic {
  font-family: "Montserrat", serif;
  font-weight: 900;
  font-style: italic;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.rajdhani-light {
  font-family: "Rajdhani", serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", serif;
  font-weight: 700;
  font-style: normal;
}